[barman]
barman_user = barman
path_prefix = {{ psql_bin_dir }}
configuration_files_directory = /etc/barman.d
barman_home = {{ barman_backup_dir }}
log_file = /var/log/barman/barman.log
log_level = INFO
parallel_jobs = 10
check_timeout = 60
slot_name = barman
create_slot = auto
basebackup_retry_times = 3
basebackup_retry_sleep = 60
