#directory

data_directory = '{{ psql_data_dir }}'           # use data in another directory
hba_file = '{{ psql_conf_dir }}/pg_hba.conf'     # host-based authentication file
ident_file = '{{ psql_conf_dir }}/pg_ident.conf' 
####
listen_addresses = '*'
port = {{ psql_port }}
shared_preload_libraries = 'pg_stat_statements, repmgr'
max_wal_senders = 10
max_replication_slots = 10
wal_level = 'replica'
wal_log_hints = on
hot_standby = on
archive_mode = on
archive_command = '/bin/true'

# tunning performance

max_connections = 1000
shared_buffers = {{ (ansible_memory_mb.real.total*1/4) |round|int}}MB
effective_cache_size = {{ (ansible_memory_mb.real.total*3/4) |round|int}}MB
maintenance_work_mem = {{ (ansible_memory_mb.real.total*1/16) |round|int}}MB
wal_buffers = 16MB
work_mem = 4MB
max_worker_processes = {{ ansible_processor_vcpus }}
max_parallel_workers_per_gather = {{ (ansible_processor_vcpus / 2) |round|int}}
# enable log

logging_collector = on
log_filename = 'postgresql-%a.log'
#log_filename = 'postgresql-%Y-%m-%d.log'
log_rotation_age = 1d
log_min_duration_statement = 0
log_checkpoints = on
log_connections = on
log_disconnections = on
log_duration = on
#log_hostname = on
log_lock_waits = on
log_line_prefix = '%t [%p]: [%l-1] user=%u db=%d client=%h '
log_temp_files = 0
log_autovacuum_min_duration = 500
