{{ define "teams.card" }}
{
  "@type": "MessageCard",
  "@context": "http://schema.org/extensions",
  "themeColor": "{{- if eq .Status "resolved" -}}2DC72D
                 {{- else if eq .Status "firing" -}}
                    {{- if eq .CommonLabels.severity "critical" -}}8C1A1A
                    {{- else if eq .CommonLabels.severity "warning" -}}FFA500
                    {{- else -}}808080{{- end -}}
                 {{- else -}}808080{{- end -}}",
  "summary": "{{ .CommonAnnotations.summary }}",
  "title": "Prometheus Alert ({{ .Status }})",
  "sections": [ {{$externalUrl := .ExternalURL}}
  {{- range $index, $alert := .Alerts }}{{- if $index }},{{- end }}
    {
      "activityTitle": "[{{ $alert.Annotations.description }}]({{ $externalUrl }})", 
      "facts": [
          {
            "name": "Alert:",
            "value": "{{ $alert.Labels.alertname }}"
          },
          {
            "name": "Severity:",
            "value": "{{ $alert.Labels.severity }}"
          },
          {	
	  {{- if ne $alert.Labels.external_group "" -}}
            "name": "external_group",
      	    "value": "{{ $alert.Labels.external_group }}"
      	  {{- end -}}
 	  },
          {	 
	  {{- if ne $alert.Labels.service_name "" -}}
            "name": "service_name",
      	    "value": "{{ $alert.Labels.service_name }}"
          {{- end -}}
 	  },
          {	
	  {{- if ne $alert.Labels.service_type "" -}}
       	    "name": "service_type",
       	    "value": "{{ $alert.Labels.service_type }}"
       	  {{- end -}}
 	  },
          {	
	  {{- if ne $alert.Labels.node_name "" -}}
       	    "name": "node_name",
    	    "value": "{{ $alert.Labels.node_name }}"
       	  {{- end -}}
 	  },
          {
          {{- if ne $alert.Labels.node_type "" -}}
            "name": "node_type",
            "value": "{{ $alert.Labels.node_type }}"
          {{- end -}}
          },
          {
          {{- if ne $alert.Labels.device "" -}}
            "name": "device",
            "value": "{{ $alert.Labels.device }}"
          {{- end -}}
          },
          {
          {{- if ne $alert.Labels.mountpoint "" -}}
            "name": "mountpoint",
            "value": "{{ $alert.Labels.mountpoint }}"
          {{- end -}}
          }
      ],
      "markdown": true
      }
      {{- end }}
  ]
  {{- if eq .Status "firing" -}}
  ,
  "potentialAction": [
  {{- if .Alerts -}}
    {
        "@context": "http://schema.org",
        "@type": "ViewAction",
        "name": "Silence Alert",
        {{- range $index, $alert := .Alerts }}
          {{- if eq $index 0}}
            "target": [
                "{{ $externalUrl }}/#/silences/new?filter=%7B{{$c := counter}}{{ range $key, $value := $alert.Labels }}{{if call $c}}%22%2C%20{{ end }}{{ $key }}%3D%22{{ $value }}{{- end }}%22%7D"
            ]
          {{- end }}
        {{- end }}
    }
  {{- end -}}
  ]
  {{- end }}
}
{{ end }}
